<div class="container border-light">
  <div class="row-cols-2 row">
    <div class="border-custom form-box">
      <app-auth-form (click)="createUser($event)">
        <h3>Create Account</h3>
        <button type="submit" class="btn btn-primary">
          Join us
        </button>
      </app-auth-form>
    </div>
    <div class="form-box">
      <app-auth-form (submit)="loginUser($event)">
        <h3>Login</h3>
        <button type="submit" class="btn btn-primary">
          Login
        </button>
      </app-auth-form>
    </div>
  </div>
</div>
