.form-style {
  text-align: left;
  padding: 25px 25px 10px;
}
.underline-text {
  color: white;
  font-size: 0.75rem;
}
.font-style {
  font-weight: 100;
}

.form-group {
  padding-bottom: 30px;

}
.btn-place {
  padding-bottom: 30px;

}

button {
  background-color: #609DEA;
}
