<div class="form-style">
  <ng-content select="h3"></ng-content>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group font-style">
      <label>Email address</label>
      <input [(ngModel)]="emailAddress" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group font-style">
      <label>Password</label>
      <input [(ngModel)]="userPassword" type="password" class="form-control" placeholder="Password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="btn-place">
      <ng-content select="button"></ng-content>
    </div>
  </form>
</div>
