
.form-box {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

h3 {
  padding-bottom: 8px;
}

.btn-custom {
  color: white;
  background-color: #609DEA;
}
.btn-custom:hover {
  background-color: #EC635E;
}
