<nav class="navbar navbar-expand navbar-light" id="mainNav">
    <a routerLink="/mainPage" class="navbar-brand">  <img src="./assets/logo/logo.png" width="100" height="100">
    </a>
    <button class="navbar-toggler" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item" *ngFor="let link of routes" routerLink="{{link.route}}">
          <a class="nav-link" routerLinkActive="active">{{link.label}}</a>
        </li>

      </ul>
    </div>
</nav>
