/* You can add global styles to this file, and also import other style files */

body {
  background: url("/assets/backgrounds/bg-blue.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.big-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 12.5%;
  margin-top: 3%;
  padding: 5%;
  border: solid 2px white;
  width: 75%;
  /*height: 75%;*/
  border-radius: 2%;
}
.inside-container {
  position: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
